
@{
    ViewData["Title"] = "WarningMark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>WarningMark</h1>
<div class="row text-center text-warning">
    <div class="col-md-12">
        <h2>You can’t bet a mark!</h2>
    </div>
    <div class="col-md-12">
        <a asp-controller="Subject" asp-action="Create" class="btn btn-primary">Create new Subject</a>
    </div>
</div>
