
@{
    ViewData["Title"] = "WarningSubject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>WarningSubject</h1>
<div class="row text-center text-warning">
    <div class="col-md-12">
        <h2>Until you have teachers, you will not be able to use this method!</h2>
    </div>
    <div class="col-md-12">
        <a asp-controller="Teacher" asp-action="Create" class="btn btn-primary">Create new Teacher</a>
    </div>
</div>

