
@{
    ViewData["Title"] = "WarningGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>WarningGroup</h1>
<div class="row text-center text-warning">
    <div class="col-md-12">
        <h2>You cannot Method a group without a facultie!</h2>
    </div>
    <div class="col-md-12">
        <a asp-controller="Facultie" asp-action="Create" class="btn btn-primary">Create new Facultie</a>
    </div>
</div>

